*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-black-dark: hsla(0, 3%, 3%, 1);
	--color-black-light: hsla(60, 2%, 8%, 1);
	--color-grey-dark: hsla(0, 0%, 45%, 1);
	--color-grey-light: hsla(0, 0%, 90%, 1);
	--color-white: hsla(0, 0%, 100%, 1);
	--color-yellow: hsla(44, 97%, 51%, 1);
}

.desktop-only {
	display: initial;
}

.mobile-only {
	display: none;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100svh;

	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
}

.container {
	width: 100%;
	max-width: 1440px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto;
}

.flex-group {
	display: flex;
	gap: 24px;
	align-items: center;
}

.header {
	height: 64px;
	display: flex;
	align-items: center;
	background-color: var(--color-black-dark);
}

.header > .container {
	display: flex;
	justify-content: space-between;
}

.menu-button {
	cursor: pointer;
	background-color: inherit;
	border: none;
}

.nav {
	display: flex;
	align-items: center;
	gap: 42px;
	color: var(--color-grey-dark);
	font-size: 14px;
}

.nav-item svg {
	display: none;
}

.link-active {
	color: var(--color-white);
}

.search-stretch {
	max-width: 555px;
	width: 100%;
}

.search-group {
	width: 100%;
	position: relative;
}

.search-group::before {
	content: "";
	position: absolute;
	top: 0;
	left: 10px;
	width: 16px;
	bottom: 0;
	background-image: url("assets/Search.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
}

.search-input {
	width: 100%;
	height: 32px;
	background-color: var(--color-black-light);
	border: none;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 300;
	padding: 8px 40px 8px 34px;
	color: var(--color-grey-light);
}


.search-input::placeholder {
	color: var(--color-grey-dark);
	/*text-align: center;*/
}

.reset-inner {
	display: none;
}

.search-input:valid + .reset-inner {
	position: absolute;
	top: 8px;
	right: 12px;
	/*bottom: 0;*/
	width: 16px;
	height: 16px;
	border: none;
	border-radius: 50%;
	background-color: var(--color-grey-dark);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.search-input:valid + .reset-inner path {
	fill: var(--color-black-light);
}

.bookmark-button {
	cursor: pointer;
	background-color: inherit;
	border: none;
}

.profile {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.profile-icon {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background-color: pink;
}


@media (max-width: 744px) {
	.desktop-only {
		display: none;
	}

	.mobile-only {
		display: initial;
	}

	body {
		padding-bottom: 64px;
	}

	.container {
		max-width: 744px;
		padding-left: 20px;
		padding-right: 20px;
	}

	.nav {
		width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
		height: 64px;
		display: flex;
		gap: initial;
		justify-content: space-around;
		background-color: var(--color-black-dark);
		font-size: 8px;
		font-weight: 400;
	}

	.nav-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2px;
	}

	.nav-item svg {
		display: initial;
	}

	button.nav-item {
		cursor: pointer;
		background-color: inherit;
		border: none;
		color: inherit;
		font-size: inherit;
		font-family: inherit;
		display: flex;
	}

	.nav-item path {
		fill: var(--color-grey-dark);
	}

	.nav-item.link-active path {
		fill: var(--color-white);
	}

	.search-group {
		display: none;
	}

	.search-stretch {
		width: initial;
		max-width: initial;
	}

	.mobile-search .search-stretch {
		width: 100%;
	}

	.mobile-search .search-group {
		display: flex;
		width: 100%;
		gap: 16px;
	}

	.mobile-search .search-hide {
		display: none;
	}

	.search-input {
		width: 100%;
	}

	.search-input:valid + .reset-inner {
		right: 80px;
	}

	.reset-outer {
		background-color: transparent;
		color: var(--color-white);
		border: none;
		cursor: pointer;
	}
}

@media (max-width: 428px) {
	body {
		padding-bottom: 48px;
	}

	.container {
		max-width: 428px;
		padding-left: 16px;
		padding-right: 16px;
	}

	.header {
		height: 48px;
	}

	.nav {
		height: 48px;
	}
}
