main {
	padding-top: 24px;
	padding-bottom: 40px;
	background-color: var(--color-black-light);
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.grid-container {
	width: 100%;
	max-width: 1440px;
	padding-left: 40px;
	padding-right: 40px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;
}

.hidden {
	display: none !important;
}

h2 {
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 16px;
}

.separator-24 {
	height: 24px;
	border: none;
}

.card {
	grid-column: span 2;
	cursor: pointer;
}

.card .poster {
	display: block;
	width: 100%;
	height: 308px;
	background-color: var(--color-grey-dark);
	font-style: italic;
	object-fit: cover;
}

.card .title {
	padding-top: 12px;
	padding-bottom: 6px;
	font-size: 16px;
}

.card .rating {
	font-size: 14px;
	display: flex;
	gap: 6px;
	color: var(--color-grey-light);
}

.card .rating path {
	fill: var(--color-yellow);
}

.details-modal {
	max-width: 900px;
	width: 100%;
	min-height: 100%;
	height: 100%;
	position: fixed;
	top: 64px;
	padding-bottom: calc(64px + 40px);
	margin: 0 auto;
	border: none;
	background-color: var(--color-black-light);
	overflow-y: auto;
	overscroll-behavior-y: none;
}

.details-modal .close {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 32px;
	border: none;
	position: absolute;
	top: 24px;
	right: 24px;
	background-color: var(--color-grey-dark);
	cursor: pointer;
}

.details-modal .close:hover {
	background-color: var(--color-grey-light);
}

.details-modal .close path {
	fill: var(--color-black-dark)
}

.details-poster-wrapper {
	position: relative;
	z-index: -1;
}

.details-poster {
	width: 100%;
	height: 560px;
	object-fit: cover;
	object-position: top;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.details-poster-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.24)), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 3.65%, rgba(0, 0, 0, 0) 47.89%, rgba(11, 11, 11, 0.463503) 64.1%, #181818 94.02%);
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.details-data {
	width: 630px;
	position: relative;
	margin-top: calc(-560px + 380px);
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.details-buttons {
	display: flex;
	gap: 24px;
}

.details-button-watch {
	width: 220px;
	height: 44px;
	background-color: var(--color-white);
	color: var(--color-black-light);
	display: flex;
	gap: 8px;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	border-radius: 2px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.details-button-watch:hover, .details-button-watch:active {
	background-color: var(--color-red);
	color: var(--color-white);
}

.details-button-watch path {
	fill: var(--color-black-light);
	transition: fill 0.2s ease-in-out;
}

.details-button-watch:hover path, .details-button-watch:active path {
	fill: var(--color-white);
}

.details-button-round {
	flex-shrink: 0;
	cursor: pointer;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border: 1px solid var(--color-grey-dark);
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.details-button-round:hover, .details-button-round:active {
	border-color: var(--color-white);
	background-color: var(--color-white);
}

.details-button-round path {
	fill: var(--color-white);
	transition: fill 0.2s ease-in-out;
}

.details-button-round:hover path, .details-button-round:active path {
	fill: var(--color-black-light);
}

h1 {
	font-weight: 600;
	font-size: 32px;
	color: var(--color-white);
}

.details-about {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.details-1 {
	display: flex;
	gap: 16px;
	color: var(--color-white);
	font-size: 16px;
}

.details-1 .rating {
	display: flex;
	gap: 4px;
	align-items: center;
}

.details-1 path {
	fill: var(--color-yellow);
}

.details-2 {
	color: white;
	border: 1px solid white;
	padding: 4px 12px;
	border-radius: 100vw;
	width: fit-content;
	font-size: 14px;
}

.details-3 {
	color: var(--color-grey-dark);
	font-size: 14px;
	display: flex;
	gap: 8px;
	align-items: center;
}

.details-3 .separator {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: var(--color-grey-dark);
}

.details-4 {
	color: var(--color-grey-light);
	font-size: 16px;
	line-height: 22px;
}

@media (max-width: 744px) {
	.grid-container {
		max-width: 744px;
		padding-left: 20px;
		padding-right: 20px;
		grid-template-columns: repeat(6, 1fr);
		gap: 16px;
	}

	.card .poster {
		height: 324px;
	}

	.card .title {
		font-size: 14px;
	}

	.card .rating {
		font-size: 12px;
	}

	.details-modal {
		top: 0;
		padding-bottom: 40px;
	}

	.details-poster {
		border-radius: 0;
		height: 591px;
	}

	.details-data {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		margin-top: calc(-590px + 480px);
	}

	.details-button-watch {
		width: 100%;
	}
}

@media (max-width: 428px) {
	.grid-container {
		width: 100%;
		max-width: 428px;
		padding-left: 16px;
		padding-right: 16px;
		grid-template-columns: repeat(4, 1fr);
	}

	h2 {
		font-size: 16px;
		padding-bottom: 16px;
	}

	.card .poster {
		height: 276px;
	}

	.details-poster {
		height: 340px;
	}

	.details-data {
		padding-left: 16px;
		padding-right: 16px;
		margin-top: calc(-340px + 300px);
	}
}
